<footer class="w-full h-24 px-10 bg-orange-300/70 flex justify-between items-center">
    <div>
        <p>Derechos reservados 2024.©</p>
        <p class="hidden">Created by: 
            <a target="_blank" href="https://www.instagram.com/iweb.code/">iWeb.</a>
        </p>
    </div>
    <div class="">NC Cercos electricos</div>
        <ul class="flex flex-col justify-between my-2">
            <li class="border-b border-black">Inicio</li>
            <li class="border-b border-black">Nosotros</li>
            <li class="border-b border-black">Contacto</li>
        </ul>
</footer>